/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap";

:root {
  --main-color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
  background-color: var(--main-color);
}

main {
  transition: 0.8s;
  background-color: var(--main-color);
}
a {
  text-decoration: none;
}
